body{
    padding: 70px 0px 0px 0px;
    margin: 0 auto;
    color: rgba(255,255,255,.75);
    /* font-family: 'Anonymous Pro', monospace;   */
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    font-family: 'Roboto', sans-serif;
}

  .line-1{
      position: relative;
      top: 50%;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 40px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  
  .anim-typewriter{
    animation: typewriter 5s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 12em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;
    }
}

image{
    padding: 85px;
}
h1,h2,h3{

    text-align: center;
}

.middle{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.212);
    margin: 100px 150px 80px 150px;
    padding: 20px;
    font-size: 18px;  
}




#date_pane{
    background-color:  rgba(255, 255, 255, 0.212);
    width: 40%;
    position: relative;
    border-radius: 5px;
    height: auto;     
    padding: 10px;
    float: left;
    margin: 0px 10px 35px 95px;  
    text-align: center;  
    font-size: 18px;   
}

#text_pane{
    background-color:  rgba(255, 255, 255, 0.212);
    width: 40%;  
    position: relative;
    border-radius: 5px;  
    height: auto; 
    padding: 10px;  
    float: right;
    margin: 0px 95px 35px 10px; 
    text-align: center;  
    font-size: 18px;   
}

#text_pane:hover,#date_pane:hover{
    background-color:rgba(255, 255, 255, 0.363);;
    border: 2px solid #125ad3;
    font-weight: bold;
}

#footer{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.212);
    padding: 50px;
    margin: 300px 100px 100px 100px;

}





